<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div *ngIf="options">
                    <ng-fullcalendar #fullcalendar [options]="options" [(eventsModel)]="events" (eventClick)="eventClick($event)" (dateClick)="dateClick($event)"></ng-fullcalendar>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Actividad -->
<app-modal-actividad></app-modal-actividad>