<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarActividad(input.value)" type="text" class="form-control" placeholder="Buscar actividad...">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Actividades registrados (<small>{{totalRegistros}}</small>)</h3>
                <div class="text-right">
                    <button (click)="crearActividad()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                    <i class="fa fa-plus"></i>
                    Crear Actividad
                  </button>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actividad of actividades;let indice=index">
                            <td>{{indice + 1}}</td>
                            <td>
                                <input type="text" class="form-control" placeholder="Nombre de la actividad" [(ngModel)]="actividad.nombre" name="nombre">
                            </td>
                            <td>
                                <button (click)="guardarActividad(actividad)" class="btn btn-primary">
                                  <i class="fa fa-save"></i>
                              </button>
                                <button (click)="borrarActividad(actividad)" class="btn btn-danger ml-2">
                                  <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
              Anteriores
              </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary ml-2">
                  Siguientes
              </button>
            </div>
        </div>
    </div>
</div>