<div class="fondo-negro animated fadeIn" [ngClass]="_serviceModalActividad.oculto">
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ titulo }}</h5>
                    <button (click)="cerrarModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="proyecto">Proyecto</label>
                                <select [(ngModel)]="proyectoSeleccionado" id="proyecto" name="proyectoSeleccionado" class="form-control" (change)="mostrarActividadesProyecto()">
                                    <option value="" selected>Seleccione proyecto</option>
                                    <option *ngFor="let proyecto of proyectos" value="{{proyecto._id}}">{{proyecto.nombre}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="actividad">Actividad</label>
                                <select [(ngModel)]="actividadSeleccionada" id="actividad" name="actividadSeleccionada" class="form-control">
                                    <option value="" selected>Seleccione actividad</option>
                                    <option *ngFor="let actividad of actividades" value="{{actividad._id}}">{{actividad.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="desde">Desde:</label>
                                <input type="time" min="9:00" max="18:00" class="form-control" [(ngModel)]="desde" id="desde" name="desde">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="hasta">Hasta:</label>
                                <input type="time" min="9:00" max="18:00" class="form-control" [(ngModel)]="hasta" id="hasta" name="hasta">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button *ngIf="_serviceModalActividad.tipo === 'add'" (click)="crearHoraTrabajo()" type="button" class="btn btn-primary">Crear</button>
                    <button *ngIf="_serviceModalActividad.tipo === 'update'" (click)="actualizarHoraTrabajo()" type="button" class="btn btn-primary">Actualizar</button>
                    <button *ngIf="_serviceModalActividad.tipo === 'update'" (click)="eliminarHoraTrabajo()" type="button" class="btn btn-danger">Eliminar</button>
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>