<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Datos del usuario</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" (ngSubmit)="guardarUsuario(f)">
                        <div class="form-group">
                            <label>Nombre del usuario</label>
                            <input #nombre="ngModel" [(ngModel)]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del usuario" required>
                            <span class="error" *ngIf="!nombre.valid && nombre.touched">El nombre es obligatorio</span>
                        </div>
                        <div class="form-group">
                            <label>Correo electrónico</label>
                            <input #correo="ngModel" [(ngModel)]="usuario.correo" name="correo" type="email" class="form-control" placeholder="Correo electrónico" required>
                            <span class="error" *ngIf="!correo.valid && correo.touched">El correo electrónico es obligatorio</span>
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input #username="ngModel" [(ngModel)]="usuario.username" name="username" type="text" class="form-control" placeholder="Username" required>
                            <span class="error" *ngIf="!username.valid && username.touched">El username es obligatorio</span>
                        </div>
                        <button [disabled]="f.invalid" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                      </button>
                        <a [routerLink]="['/usuarios']" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="mostrarProyectos == true">
    <div class="col-md-12">
        <div class="card card-body">
            <div class="row">
                <h3 class="box-title m-b-0">Proyectos (<small>{{totalRegistros}}</small>)</h3>
                <input #input (keyup)="buscarProyecto(input.value)" type="text" class="form-control col-6 ml-5" placeholder="Buscar proyecto...">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Asignar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proyecto of proyectos">
                            <td>{{ proyecto.codigo }}</td>
                            <td>{{ proyecto.nombre }}</td>
                            <td>
                                <ui-switch [checked]="proyecto.asignado" switchColor="#fcfcfc" size="large" labelOn="Asignar" labelOff="Eliminar" (change)="onChange($event, proyecto._id)"></ui-switch>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-10)" class="btn btn-secondary">
                    Anteriores
                </button>
                <button (click)="cambiarDesde(10)" class="btn btn-secondary ml-2">
                    Siguientes
                </button>
            </div>
        </div>
    </div>
</div>